/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Mansalva&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* Code */
* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Mansalva", sans-serif;
}
h2 {
  font-family: "Montserrat", sans-serif;
}
body{
  background-color: #F3EAFF;
}