---
import StotButton from "./StotButton.astro";
---


<div class="hero">
<img class="mascot" src="/public/img/svg/frobert.svg" alt="">
<div class="text-box">
    <p>WishBuddy bringer magi og smil til børneafdelinger i hele landet med vores dedikerede magikere. Med deres tryllekunst give de børn en pause fra sygdom og bekymringer gennem fortryllende oplevelser.</p>
<div class="stot_button"></StotButton></div>
</div>
</div>
<img class="top_transition" src="/public/img/svg/section1_top_trasition.png" alt="">

<section>
    <div>
        <div class="text-box">
            <h2>Magikere, der Skaber Smil og Håb</h2>
            <p>Vores magikere er meget mere end underholdere – de er bringere af lys og glæde i en ellers udfordrende hverdag for indlagte børn. Med tryllestave, kort og balloner skaber de magiske øjeblikke, der får børnenes øjne til at lyse op og fylder rummet med latter og forundring. Uanset om det er et sjovt ballonkunstværk eller et imponerende korttrick, giver magikerne børnene en værdifuld pause fra sygdom og kedelige rutiner. De inspirerer og motiverer børnene til selv at prøve kræfter med tryllekunsten, hvilket styrker deres selvtillid og giver dem noget at se frem til og glæde sig over. For mange bliver magikerens besøg et højdepunkt – et magisk øjeblik, der lyser op i en svær tid.</p>
        </div>
    </div>

    <div class="stats">
        <div class="stats-info">
            <h4>7</h4>
            <h5>Tryllekunstnere</h5>
        </div>
        <div class="veritcal-line"></div>
        <div class="stats-info">
            <h4>10.000</h4>
            <h5>Børn</h5>
        </div>
        <div class="veritcal-line"></div>
        <div class="stats-info">
            <h4>80</h4>
            <h5>Sygehus</h5>
        </div>
        <div class="veritcal-line"></div>
        <div class="stats-info">
            <h4>70</h4>
            <h5>Timer</h5>
        </div>
    </div>
</section>
<img class="bottom_transition" src="/public/img/svg/section1_bottom_trasition.png" alt="">


<style>
    p{
        font-family: "montserrat", sans-serif;
        max-width: 65ch;
    }
    .hero{
        background-color: #DDC1FF;
        padding: 100px 0;
    }
    .mascot{
        max-width: 300px;
        margin: auto;
        display: block;
    }
    .stot_button{
        margin: auto;
    }
    .top_transition, .bottom_transition{
        width: 100%;
    }

    section{
            background-color: #D5B2FF;
            padding: 50px;
            margin-top: -10px;
            color: #303030;
        }

    .hero p{
        text-align: left;
        
    }

    h4, h5{
        font-family: "montserrat", sans-serif;
    }
    h4{
        font-size: 2rem;
    }
    .stats{
        display: flex;
        gap: 30px;
        justify-content: center;
        text-align: center;
        /* color: #623598; */
        color: #303030;
        margin: 50px 0;
        scale:.5;
    }
    .veritcal-line{
        border-left: 3px solid #303030
        ;
    }
@media (min-width: 600px){
    .stats{
        scale:1;
    }
}

</style>

