<button>STØT</button>

<style>
    button{
    font-family: "Montserrat", sans-serif; 
    padding: 10px 25px;
    font-size: 16px;
    color: white;
    background-color: #A26EF4;
 
    border: solid;
    border-color: #A26EF4;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: white;
    border-color: #A26EF4;
    color: #A26EF4;
    
}
</style>

<script>
  export let className = '';
</script>